<?xml version='1.0'?>
<model>
    <name>coude</name>
    <version>1.0.0</version>
    <sdf version='1.7'>model.sdf</sdf>
    <author>
    <name>Clément Rolinat</name>
    <email>clement.rolinat@cea.fr</email>
    </author>
    <description>
        An object for grasp testing with romans hand (with contact sensor)
    </description>
</model>