<?xml version="1.0"?>
<!-- Xacro for Franka Emika fingrip gripper -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find fingrip_description)/urdf/fingrip_utils.xacro"/>

  <!--            -->
  <!-- Properties -->
  <!-- GENERAL    -->
  <xacro:property name="base_prefix" value="_base"/>
  <xacro:property name="proximal_prefix" value="_proximal"/>
  <xacro:property name="intermediaire_prefix" value="_intermediaire"/>  
  <xacro:property name="distal_prefix" value="_distal"/>  

  <xacro:property name="joint_prefix" value="_joint"/> 
  <xacro:property name="link_prefix" value="_link"/> 

  <xacro:property name="joint_velocity_limit" value="0.2"/> 
  <xacro:property name="joint_torque_limit" value="20"/>
  <xacro:property name="joint_damping" value="3.0"/>
  <xacro:property name="joint_friction" value="0.4"/>
  <xacro:property name="link_mu" value="1.13"/>
  
  <xacro:property name="joint_other_type" value="revolute"/>

  <!-- Joint dependent properties -->
  <!-- Base -->
  <xacro:property name="joint_base_lower_limit" value="0"/>
  <xacro:property name="joint_base_upper_limit" value="${pi/2}"/>

  <!-- Proximal -->
  <xacro:property name="joint_proximal_lower_limit" value="-1.3"/>
  <xacro:property name="joint_proximal_upper_limit" value="0.31416"/>
  <xacro:property name="joint_proximal_origin_xyz" value="0 0 0.0584"/>
  <xacro:property name="joint_proximal_origin_rpy" value="0 0 0"/>
  <xacro:property name="joint_proximal_axis_xyz" value="0 1 0"/>

  <!-- Intermediaire -->
  <xacro:property name="joint_intermediaire_lower_limit" value="-0.5"/>
  <xacro:property name="joint_intermediaire_upper_limit" value="1.0472"/>
  <xacro:property name="joint_intermediaire_origin_xyz" value="0 0 0.0584"/>
  <xacro:property name="joint_intermediaire_origin_rpy" value="0 0 0"/>
  <xacro:property name="joint_intermediaire_axis_xyz" value="0 1 0"/>

  <!-- Distal -->
  <xacro:property name="joint_distal_lower_limit" value="-0.5"/>
  <xacro:property name="joint_distal_upper_limit" value="1.0472"/>
  <xacro:property name="joint_distal_origin_xyz" value="0 0 0.0584"/>
  <xacro:property name="joint_distal_origin_rpy" value="0 0 0"/>
  <xacro:property name="joint_distal_axis_xyz" value="0 1 0"/>





  <!--       -->
  <!-- Macro -->
  <!--       -->
  <xacro:property name="default_origin_xyz" value="0 0 0"/>
  <xacro:property name="default_origin_rpy" value="0 0 0"/>

  <xacro:macro name="fingrip_finger" params="
    finger_name
    collision:=true
    mesh_offset_rpy:=${mesh_offset_rpy}
    parent
    prefix
    joint_type
    joint_origin_xyz
    joint_origin_rpy
    joint_axis_xyz:=unset
    joint_lower_limit:=${joint_base_lower_limit}
    joint_upper_limit:=${joint_base_upper_limit}
    gazebo_preserve_fixed_joint:=false
  ">
        <!-- 3 limbs by finger + base link for adduction -->
        <!-- BASE LINK -->
        <xacro:fingrip_joint
        parent="${parent}"
        child="${prefix}${finger_name}${base_prefix}${link_prefix}"
        joint_name="${prefix}${finger_name}${base_prefix}${joint_prefix}"
        joint_type="${joint_type}"
        joint_origin_xyz="${joint_origin_xyz}"
        joint_origin_rpy="${joint_origin_rpy}"
        joint_axis_xyz="${joint_axis_xyz}"
        joint_lower_limit="${joint_lower_limit}"
        joint_upper_limit="${joint_upper_limit}"
        joint_velocity_limit="${joint_velocity_limit}"
        joint_torque_limit="${joint_torque_limit}"
        joint_damping="${joint_damping}"
        joint_friction="${joint_friction}"
        gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
        />

        <xacro:fingrip_link
        link_name="${prefix}${finger_name}${base_prefix}${link_prefix}"
        mesh="${base_mesh}"
        collision="${collision}"
        mu="${link_mu}"
        mesh_offset_rpy="${mesh_offset_rpy}"
        />

        <!-- PROXIMAL limb -->
        <!--
        <xacro:fingrip_joint
        parent="${prefix}${finger_name}${base_prefix}${link_prefix}"
        child="${prefix}${finger_name}${proximal_prefix}${link_prefix}"
        joint_name="${prefix}${finger_name}${proximal_prefix}${joint_prefix}"
        joint_type="${joint_other_type}"
        joint_origin_xyz="${joint_origin_xyz}"
        joint_origin_rpy="${joint_origin_rpy}"
        joint_axis_xyz="${joint_axis_xyz}"
        joint_lower_limit="${joint_proximal_lower_limit}"
        joint_upper_limit="${joint_proximal_upper_limit}"
        joint_velocity_limit="${joint_velocity_limit}"
        joint_torque_limit="${joint_torque_limit}"
        joint_damping="${joint_damping}"
        joint_friction="${joint_friction}"
        gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
        />
        <xacro:fingrip_link
        link_name="${prefix}${finger_name}${proximal_prefix}${link_prefix}"
        mesh="${proximal_mesh_path}${short_prefix}${proximal_mesh_name}"
        collision="${collision}"
        mu="${link_mu}"
        mesh_offset_rpy="${mesh_offset_rpy}"
        />
        -->

        <!-- INTERMEDIAIRE limb -->
        <!--
        <xacro:fingrip_joint
        parent="${prefix}${finger_name}${proximal_prefix}${link_prefix}"
        child="${prefix}${finger_name}${intermediaire_prefix}${link_prefix}"
        joint_name="${prefix}${finger_name}${intermediaire_prefix}${joint_prefix}"
        joint_type="${joint_other_type}"
        joint_origin_xyz="${joint_other_origin_xyz}"
        joint_origin_rpy="${joint_other_origin_rpy}"
        joint_axis_xyz="${joint_other_axis_xyz}"
        joint_lower_limit="${joint_lower_limit}"
        joint_upper_limit="${joint_upper_limit}"
        joint_velocity_limit="${joint_velocity_limit}"
        joint_torque_limit="${joint_torque_limit}"
        joint_damping="${joint_damping}"
        joint_friction="${joint_friction}"
        gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
        />
        <xacro:fingrip_link
        link_name="${prefix}${finger_name}${intermediaire_prefix}${link_prefix}"
        mesh="${intermediaire_mesh_path}${short_prefix}${intermediaire_mesh_name}"
        collision="${collision}"
        mu="${link_mu}"
        />
        -->

        <!-- DISTAL limb --> 
        <!--
        <xacro:fingrip_joint
        parent="${prefix}${finger_name}${intermediaire_prefix}${link_prefix}"
        child="${prefix}${finger_name}${distal_prefix}${link_prefix}"
        joint_name="${prefix}${finger_name}${distal_prefix}${joint_prefix}"
        joint_type="${joint_other_type}"
        joint_origin_xyz="${joint_other_origin_xyz}"
        joint_origin_rpy="${joint_other_origin_rpy}"
        joint_axis_xyz="${joint_other_axis_xyz}"
        joint_lower_limit="${joint_lower_limit}"
        joint_upper_limit="${joint_upper_limit}"
        joint_velocity_limit="${joint_velocity_limit}"
        joint_torque_limit="${joint_torque_limit}"
        joint_damping="${joint_damping}"
        joint_friction="${joint_friction}"
        gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
        />

        <xacro:fingrip_link
        link_name="${prefix}${finger_name}${distal_prefix}${link_prefix}"
        mesh="${distal_mesh_path}${short_prefix}${distal_mesh_name}"
        collision="${collision}"
        mu="${link_mu}"
        />
        -->

    </xacro:macro>
</robot>
