<?xml version="1.0"?>
<!-- Xacro for Franka Emika fingrip gripper -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find fingrip_description)/urdf/fingrip.ros2_control"/>
  <xacro:include filename="$(find fingrip_description)/urdf/fingrip_finger.xacro"/>
  <xacro:include filename="$(find fingrip_description)/urdf/fingrip_palm.xacro"/>
  <xacro:include filename="$(find fingrip_description)/urdf/fingrip_transmission.xacro"/>

  <!--            -->
  <!-- Properties -->
  <!--            -->
  <!-- ROS CONTROL -->
  <xacro:property name="ros2control_name" value="fingrip_gripper_system"/>


  <!--    WRIST   -->
  <xacro:property name="joint_wrist_name" value="joint_wrist"/>
  <xacro:property name="joint_wrist_type" value="fixed"/>
  <xacro:property name="hand_name" value="hand"/>
  <xacro:property name="hand_mu" value="0.85"/>

  <!-- End-Effector -->
  <xacro:property name="ee_name" value="hand_tcp"/>
  <xacro:property name="ee_origin_xyz" value="0 0 0.12"/>
  <xacro:property name="ee_origin_rpy" value="0 0 0"/>

  <!-- Finger dependent properties -->
  <!-- FINGER 1 -->
  <xacro:property name="finger1_name" value="finger1"/>
  <xacro:property name="joint_finger1_base_type" value="revolute"/>
  <xacro:property name="joint_finger1_base_origin_xyz" value="0.054 0.054 0.09885097"/>
  <xacro:property name="joint_finger1_base_origin_rpy" value="0 ${-pi/2} ${-pi}"/>
  <xacro:property name="joint_finger1_base_axis_xyz" value="1 0 0"/>
  <xacro:property name="link_finger1_mesh_offset" value="0 0 0"/>

  <!-- FINGER 2 -->
  <xacro:property name="finger2_name" value="finger2"/>
  <xacro:property name="joint_finger2_base_type" value="revolute"/>
  <xacro:property name="joint_finger2_base_origin_xyz" value="0.054 -0.054 0.09885097"/>
  <xacro:property name="joint_finger2_base_origin_rpy" value="${pi} ${-pi/2} ${pi}"/>
  <xacro:property name="joint_finger2_base_axis_xyz" value="1 0 0"/>
  <xacro:property name="link_finger2_mesh_offset" value="0 0 0"/>

  <!-- FINGER 3 -->
  <xacro:property name="finger3_name" value="finger3"/>
  <xacro:property name="joint_finger3_base_type" value="fixed"/>
  <xacro:property name="joint_finger3_base_origin_xyz" value="-0.04398 0 0.09885097"/>
  <xacro:property name="joint_finger3_base_origin_rpy" value="${-pi/2} ${-pi/2} 0"/>
  <xacro:property name="joint_finger3_base_axis_xyz" value="0 0 0"/>
  <xacro:property name="link_finger3_mesh_offset" value="0 0 0"/>

  <!-- FINGER 4 -->
  <xacro:property name="finger4_name" value="finger4"/>
  <xacro:property name="joint_finger4_base_type" value="fixed"/>
  <xacro:property name="joint_finger4_base_origin_xyz" value="0 0 0.0584"/>
  <xacro:property name="joint_finger4_base_origin_rpy" value="0 0 0"/>
  <xacro:property name="joint_finger4_base_axis_xyz" value="0 0 0"/>
  <xacro:property name="link_finger4_mesh_offset" value="0 0 0"/>



  <!--       -->
  <!-- Macro -->
  <!--       -->
  <xacro:property name="default_origin_xyz" value="0 0 0"/>
  <xacro:property name="default_origin_rpy" value="0 0 0"/>

  <xacro:macro name="fingrip_gripper" params="
    wrist_flange
    prefix:=fingrip_
    origin_xyz:=${default_origin_xyz}
    origin_rpy:=${default_origin_rpy}
    collision:=true
    ros2_control:=true
    ros2_control_plugin:=fake
    ros2_control_command_interface:=effort
    gazebo_preserve_fixed_joint:=false
    underactuated_fingers:=true
    abduction:=true
    longFingertip:=false
    nbFingers:=3
    hand_type:=1
  ">
        <!-- Wrist & Palm -->
        <xacro:fingrip_palm
        parent="${wrist_flange}"
        prefix="${prefix}"
        hand_name="${hand_name}"
        joint_name="${prefix}${joint_wrist_name}"
        joint_type="${joint_wrist_type}"
        joint_origin_xyz="${origin_xyz}"
        joint_origin_rpy="${origin_rpy}"
        gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
        collision="${collision}"
        mu="${hand_mu}"
        nbFingers="${nbFingers}"
        handtype="${hand_type}"
        />

        <!-- Finger 1 -->
        <xacro:fingrip_finger
        finger_name="${finger1_name}"
        collision="${collision}"
        mesh_offset_rpy="${link_finger1_mesh_offset}"
        parent="${prefix}${hand_name}"
        prefix="${prefix}"
        joint_type="${joint_finger1_base_type}"
        joint_origin_xyz="${joint_finger1_base_origin_xyz}"
        joint_origin_rpy="${joint_finger1_base_origin_rpy}"
        joint_axis_xyz="${joint_finger1_base_axis_xyz}"
        joint_lower_limit="${-joint_base_upper_limit}"
        joint_upper_limit="${-joint_base_lower_limit}"
        gazebo_preserve_fixed_joint="true"
        />

        <!-- FINGER 2 -->
        <xacro:fingrip_finger
        finger_name="${finger2_name}"
        collision="${collision}"
        mesh_offset_rpy="${link_finger2_mesh_offset}"
        parent="${prefix}${hand_name}"
        prefix="${prefix}"
        joint_type="${joint_finger2_base_type}"
        joint_origin_xyz="${joint_finger2_base_origin_xyz}"
        joint_origin_rpy="${joint_finger2_base_origin_rpy}"
        joint_axis_xyz="${joint_finger2_base_axis_xyz}"
        gazebo_preserve_fixed_joint="true"
        />

        <!-- FINGER 3 -->
        <xacro:fingrip_finger
        finger_name="${finger3_name}"
        collision="${collision}"
        mesh_offset_rpy="${link_finger3_mesh_offset}"
        parent="${prefix}${hand_name}"
        prefix="${prefix}"
        joint_type="${joint_finger3_base_type}"
        joint_origin_xyz="${joint_finger3_base_origin_xyz}"
        joint_origin_rpy="${joint_finger3_base_origin_rpy}"
        joint_axis_xyz="${joint_finger3_base_axis_xyz}"
        gazebo_preserve_fixed_joint="true"
        />

        <!-- FINGER 4 -->
        <xacro:unless value="${nbFingers == 3}">
            <xacro:fingrip_finger
            finger_name="${finger4_name}"
            collision="${collision}"
            mesh_offset_rpy="${link_finger4_mesh_offset}"
            parent="${prefix}${hand_name}"
            prefix="${prefix}"
            joint_type="${joint_finger4_base_type}"
            joint_origin_xyz="${joint_finger4_base_origin_xyz}"
            joint_origin_rpy="${joint_finger4_base_origin_rpy}"
            joint_axis_xyz="${joint_finger4_base_axis_xyz}"
            gazebo_preserve_fixed_joint="true"
            />
        </xacro:unless>

    <!-- End effector -->
    <xacro:fingrip_virtual_link
    parent="${prefix}${hand_name}"
    link_name="${prefix}${ee_name}"
    joint_origin_xyz="${ee_origin_xyz}"
    joint_origin_rpy="${ee_origin_rpy}"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />


    <!-- Transmission gripper -->
    <!-- Abduction -->
    <xacro:fingrip_transmission 
      joint1_name="${prefix}${finger1_name}${base_prefix}${joint_prefix}"
      joint2_name="${prefix}${finger2_name}${base_prefix}${joint_prefix}"
      underactuation="${abduction}"
      abduction="true"
    />

    <!-- Fingers -->
    <!--
    <xacro:fingrip_transmission 
      joint1_name="${prefix}${finger1_name}${base_prefix}${joint_prefix}"
      joint2_name="${prefix}${finger2_name}${base_prefix}${joint_prefix}"
      underactuation="${underactuated_fingers}"
      abduction="false"
    />
    -->

    <!-- ROS 2 control -->
    <xacro:if value="${ros2_control}">
      <ros2_control name="${ros2control_name}" type="system">
          <hardware>
            <xacro:if value="${ros2_control_plugin == 'fake'}">
              <plugin>fake_components/GenericSystem</plugin>
            </xacro:if>
            <xacro:if value="${ros2_control_plugin == 'ign'}">
              <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </xacro:if>
            <xacro:if value="${ros2_control_plugin == 'real'}">
              <xacro:ERROR_ros2_control_for_real_robot_unimplemented/>
            </xacro:if>
            <xacro:unless value="${ros2_control_plugin == 'fake' or ros2_control_plugin == 'ign' or ros2_control_plugin == 'real'}">
              <plugin>${ros2_control_plugin}</plugin>
            </xacro:unless>
          </hardware>

        <xacro:ros2_control_fingrip_gripper 
        prefix="${prefix}" 
        plugin="${ros2_control_plugin}" 
        command_interface="${ros2_control_command_interface}"
        finger_name="${finger1_name}"
        abduction="true"
        />
        <xacro:ros2_control_fingrip_gripper 
        prefix="${prefix}" 
        plugin="${ros2_control_plugin}" 
        command_interface="${ros2_control_command_interface}"
        finger_name="${finger2_name}"
        abduction="true"
        />
        <xacro:ros2_control_fingrip_gripper 
        prefix="${prefix}" 
        plugin="${ros2_control_plugin}" 
        command_interface="${ros2_control_command_interface}"
        finger_name="${finger3_name}"/>

        <xacro:unless value="${nbFingers == 3}">
          <xacro:ros2_control_fingrip_gripper 
          prefix="${prefix}" 
          plugin="${ros2_control_plugin}" 
          command_interface="${ros2_control_command_interface}"
          finger_name="${finger4_name}"/>
        </xacro:unless>
      </ros2_control>
    </xacro:if>

  </xacro:macro>
  
</robot>
