<?xml version="1.0"?>

<!-- SRDF for Franka Emika fingrip -->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find fingrip_moveit_config)/srdf/fingrip_arm.xacro"/>
  <xacro:include filename="$(find fingrip_moveit_config)/srdf/fingrip_gripper.xacro"/>
  <xacro:include filename="$(find fingrip_moveit_config)/srdf/fingrip_utils.xacro"/>


  <!--            -->
  <!-- Parameters -->
  <!--            -->
  <!-- Name of the robot (mandatory) -->
  <xacro:arg name="name" default="fingrip"/>
  <xacro:arg name="nbFingers" default="3"/>
  <xacro:arg name="nbArmjoints" default="7"/>
  <xacro:arg name="nb_abduction_finger" default="2"/>


  <!-- Prefix for all entities -->
  <xacro:arg name="prefix" default="$(arg name)_"/>


  <!--            -->
  <!-- Properties -->
  <!--            -->
  <!-- Prefixes -->
  <xacro:property name="prefix_arm" value="$(arg prefix)"/>
  <xacro:property name="prefix_gripper" value="$(arg prefix)"/>


  <!--       -->
  <!-- Robot -->
  <!--       -->
  <xacro:fingrip_arm
    prefix="${prefix_arm}"
    nbArmjoints="$(arg nbArmjoints)"
  />
  <xacro:fingrip_gripper
    prefix="${prefix_gripper}"
    nbFingers="$(arg nbFingers)"
    nb_abduction_finger="$(arg nb_abduction_finger)"
  />

  <group name="arm_gripper">
    <group name="arm"/>
    <group name="gripper"/>
  </group>

  <end_effector group="gripper" name="gripper" parent_group="arm" parent_link="${prefix_arm}hand_tcp"/>

  <!-- Palm And Hand -->
  <disable_collisions link1="${prefix_gripper}hand" link2="${prefix_arm}link3" reason="Never"/>
  <disable_collisions link1="${prefix_gripper}hand" link2="${prefix_arm}link4" reason="Never"/>
  <disable_collisions link1="${prefix_gripper}hand" link2="${prefix_arm}link6" reason="Never"/>
  <disable_collisions link1="${prefix_gripper}hand" link2="${prefix_arm}link7" reason="Adjacent"/>
  <disable_collisions link1="${prefix_gripper}palm" link2="${prefix_arm}link3" reason="Never"/>
  <disable_collisions link1="${prefix_gripper}palm" link2="${prefix_arm}link4" reason="Never"/>
  <disable_collisions link1="${prefix_gripper}palm" link2="${prefix_arm}link6" reason="Never"/>
  <disable_collisions link1="${prefix_gripper}palm" link2="${prefix_arm}link7" reason="Never"/>

  <!-- Fingers -->
  <xacro:fingrip_gripper_arm_collision
    prefix_gripper="${prefix_gripper}"
    prefix_arm="${prefix_arm}"
    nbFingers="$(arg nbFingers)"
  />

</robot>
